body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.login .row input {
    border-radius: 8px !important;
    padding: 10px 14px !important;
}


button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.login .card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 40%;
    padding: 40px 30px 10px 30px
}

.card2 {
    width: 60%;
    background-color: #ED1260;
    height: 664px;
}

.card3 {
    width: 20%;
    background-color: #ED1260;
}

.card4 {
    width: 80%;
    background-color: #ffffff;
}

#logo {
    width: 70px;
    height: 60px;
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
}

.form-label {
    color: #9A9A9A;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: italic;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F)
}

.btn-white {
    border-radius: 50px;
    color: #D500F9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 !important
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9)
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}

/* CSS TAMBAHAN */
.small-title {
    font-family: 'Lato', sans-serif;
    color: #4F4F4F;
    font-size: 15px;
}

.btn-login {
    background-color: #ED1260;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 14px;

}

.card2 img {
    width: 100%;
    margin-left: 0px;
    margin-top: -200px;
    scale: 1.1;
}


@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}